@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #fff;
    color: #233348;
    line-height: 1.6;
    overflow-x: hidden;
}

.logo{
    max-width: 41px;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

.logo-nome {
    font-size: 24px;
    font-weight: bold;
    color: #233348;
    flex: 1; /* Mantém o logo à esquerda */
    margin-left: 10px;
}

.menu {
    display: flex;
    gap: 40px;
    justify-content: flex-end; /* Alinha o menu à direita */
    flex: 1;
}

.link-menu {
    font-size: 18px;
    color: #6C757D;
    text-decoration: none;
    transition: color 0.3s;
}

.link-menu:hover, .link-menu.ativo {
    color: #233348;
    font-weight: bold;
}

/* Container principal */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.text-content {
    max-width: 500px;
}

.titulo-primario {
    font-size: 42px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    max-width: 307px;
}

.paragrafo-primario {
    font-size: 21px;
    color: #6C757D;
    margin-bottom: 30px;
    max-width: 517px;
}

.titulo-segundo {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.paragrafo-segundo {
    font-size: 18px;
    color: #6C757D;
    max-width: 952px;
    margin: 0 auto 40px;
}

.titulo-terceiro {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    max-width: 481px;
}

.paragrafo-terceiro {
    font-size: 21px;
    color: #6C757D;
    margin-bottom: 30px;
    max-width: 450px;
}

.titulo-quarto {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    max-width: 254px;
}

.paragrafo-quarto {
    font-size: 21px;
    color: #6C757D;
    margin-bottom: 30px;
    max-width: 420px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #458FF6;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: background 0.3s;
    height: 56px;
    width: 200px;
    text-align: center;
}

.btn_sem_borda{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #3182CE; /* Azul similar ao da imagem */
    border: 2px solid #3182CE; /* Borda azul */
    border-radius: 30px; /* Bordas arredondadas */
    text-decoration: none;
    background: transparent;
    transition: 0.3s ease-in-out;
    height: 56px;
    width: 200px;
}
.btn_sem_borda .arrow-download {
    margin-left: 8px;
}

.btn_sem_borda:hover {
    background: #3182CE;
    color: white;
}

.btn-learn-more{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #3182CE; /* Azul similar ao da imagem */
    border: 2px solid #3182CE; /* Borda azul */
    border-radius: 30px; /* Bordas arredondadas */
    text-decoration: none;
    background: transparent;
    transition: 0.3s ease-in-out;
    height: 56px;
    width: 200px;
}

.btn-learn-more:hover {
    background: #3182CE;
    color: white;
}

.btn:hover {
    background-color: #356ac3;
}

.image-content img {
    max-width: 693px;
    height: auto;
}

.img_terceira{
    max-width: 665px;
    height: auto;
}

.img_segunda{
    max-width: 650px;
    height: auto;
}

/* Serviços */
.services {
    text-align: center;
    padding: 80px;
    background-color: #f9f9f9;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    max-width: 1120px;
    margin: 0 auto; /* Centraliza o grid na página */
}

.service-card {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
}

.service-card img {
    width: 60px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.service-card p {
    font-size: 16px;
    color: #6C757D;
}

.learn-more {
    margin-top: 40px;
}

.learn-more a {
    font-size: 18px;
    color: #458FF6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.learn-more a:hover {
    color: #356ac3;
}




.testemunho-section {
    text-align: center;
    background: linear-gradient(to right, #5A98F2, #67C3F3);
    color: white;
    padding: 40px;
    border-radius: 20px;
    max-width: 1120px;
    margin: auto;
}

.testemunho-titulo {
    font-size: 36px;
    margin-bottom: 20px;
}

.testemunho-section hr {
    border: none;
    border-top: 2px solid white;
    width: 50px;
    margin: 20px auto;
}

.testemunho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testemunho-card {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    padding: 20px;
    max-width: 1000px;
    margin: 20px 0;
    color: #FFFFFF;
}

.user-image {
    width: 141px; 
    height: 141px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 20px;
}

.testemunho-content {
    display: flex;
    align-items: flex-start; /* Alinha o conteúdo no topo */
}

.testemunho-nome {
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
    margin-top: 20px; /* Ajuste para alinhar com a imagem */
    text-align: left;
}

.testemunho-perfil{
    margin-right: 50px;
}

.user-role {
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 5px;
    text-align: left;
}

.testemunho-text {
    font-size: 19px;
    max-width: 420px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

.testemunho-navigation {
    display: flex;
    align-items: center;
    gap: 15px;
}

.arrow {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.arrow-download {
    font-size: 21px;
    cursor: pointer;
}

.dots {
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.dot.active {
    opacity: 1;
}





.articles {
    text-align: center;
    padding: 80px;
    background-color: #f9f9f9;
}

.articles-container {
    max-width: 1120px;
    margin: 0 auto;
}

.articles h2 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
}

.articles hr {
    border: none;
    border-top: 2px solid #000000;
    max-width: 56px;
    margin: 20px auto;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.article-card {
    background: #fff;
    padding-bottom: 30px;
    border-radius: 10px;
    text-align: left;
}

.article-card img {
    width: 100%;
    max-width: 350px; /* Ajuste a altura conforme necessário */
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

.article-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.article-card p {
    font-size: 16px;
    color: #6C757D;
    margin-bottom: 20px;
}

.read-more{
    color: #4089ED;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}



.footer {
    background: linear-gradient(to right, #5A98F2, #67C3F3);
    color: white;
    padding: 80px 0;
}

.footer-container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 150px; /* Ajuste o tamanho do logo conforme necessário */
    margin-bottom: 20px;
}

.footer-logo p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
}

.footer-column {
    margin-left: 80px; /* Espaço entre as colunas */
}

.footer-column h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #ddd;
}
